<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h2>Please Sign Up <small>It's free and always will be.</small></h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <%= f.text_field :name, { autofocus: true , class:"form-control input-lg", placeholder:"Name"} %>
              <!--<input type="text" name="name" id="name" class="form-control input-lg" placeholder=" User Name" tabindex="1">-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="form-group">
              <%= select_tag "role",'<option selected>Roles</option><option value="admin">Admin</option><option value="operator">Operator</option>'.html_safe,{class:'custom-select orm-control input-lg'} %>
              <!--<select class="custom-select orm-control input-lg">-->
                <!--<option selected>Roles</option>-->
                <!--<option value="admin">Admin</option>-->
                <!--<option value="operator">Operator</option>-->
              <!--</select>-->
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
            </div>
          </div>
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6"><input type="submit" value="Create Account" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
          <div class="col-xs-12 col-md-6"><%= link_to 'Cancel', home_index_path, { class: "btn btn-default btn-block btn-lg" } %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

