<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

      <form id="signUpForm" method="post">
        <h2>Please Sign Up <small>It's free and always will be.</small></h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input type="text" name="name" id="name" class="form-control input-lg" placeholder=" User Name" tabindex="1">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="form-group">
              <select name="role" class="custom-select orm-control input-lg">
                <option selected>Roles</option>
                <option value="admin">Admin</option>
                <option value="operator">Operator</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
            </div>
          </div>
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6"><input id="signUpButton" type="button" value="Create Account" class="btn btn-primary btn-block btn-lg " tabindex="7"></div>
          <div class="col-xs-12 col-md-6"><%= link_to 'Cancel', {controller: 'home' , action:'index'}, { class: "btn btn-default btn-block btn-lg" } %></div>
  </div>
      </form>
    </div>
  </div>
</div>

